.quizzo {
	&_shortcode {
		display: flex;
		justify-content: center;
		align-items: center;
		position: fixed;
		top: 0; right: 0; bottom: 0; left: 0;
		background: #fff url(../../img/quizzo_bg.png) repeat center;
		width: 100% !important;
		max-width: 100% !important;
		padding: 0 !important;
		margin: 0 !important;
		font-family: Nunito, Arial !important;

		#question {
			position: relative;
		}

		#overlay {
			position: absolute;
			top: 0; left: 0; right: 0; bottom: 0;
			display: none;
		}

		#status {
			position: relative;
			z-index: 10;
			padding: 1em 2em;
			background: rebeccapurple;
			color: #fff;
			font-size: 24px;
			text-align: center;
			margin-bottom: 2em;
			border-radius: 100px;
			font-weight: 700;
			display: none;

			& > span:first-child {
				font-size: 60px;
				margin-right: 1.5em;
				color: yellow;
				position: absolute;
				top: 15px; right: 0;
			}

			& > span:first-child + span {
				margin-right: 2em;
				color: yellow;
			}
		}

		h2 {
			text-align: center;
			color: rebeccapurple;
			width: 75%;
			margin: 0 auto;
			margin-bottom: 1.5em;
			z-index: 10;
			position: relative;
			line-height: 1.6;
			font-family: Nunito, Arial !important;
			font-size: 36px;
			font-weight: 700;
		}

		ol {
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
			list-style-type: none;
			margin: 0; padding: 0;
		}

		ol > li {
			width: calc(50% - 25px);
			margin-bottom: 2em;
			position: relative;
		}

		ol > li > input[type="radio"] {
			appearance: none;
			border-radius: 100px;
			position: absolute;
			top: 0; left: 0; bottom: 0; right: 0;
			cursor: pointer;
			transition: all 0.6s;
			box-sizing: border-box;
		}

		ol > li > p {
			padding: 1em 2em;
			transition: all 0.2s;
			text-align: center;
			font-weight: 700;
			border-radius: 100px;
			color: #036;
			line-height: 1.6;
			cursor: pointer;
			background: #DEF;
			display: block;

			span {
				float: left;
				margin-left: -10px;
			}
		}

		ol > li:has(input[type="radio"]:checked) p {
			color: #fff;
			background: rebeccapurple;
		}

		a, button {
			background: rebeccapurple;
			padding: 20px 50px;
			border: none;
			border-radius: 100px;
			font-family: inherit;
			font-weight: 700;
			font-size: 18px;
			color: #fff;
			cursor: pointer;
			margin: 0 auto !important;
			display: inline-block;
			text-decoration: none;
			position: relative;
			z-index: 10;
		}

		& > div:first-child {
			width: 80vw;
			z-index: 5;
			text-align: center;

			&:before {
				content: '';
				display: block;
				height: 100vh;
				width: 100vw;
				background: rgba(255, 255, 255, 0.95);
				position: fixed;
				top: 0; left: 0; right: 0; bottom: 0;
				z-index: 0;
			}
		}

		#illustration {
			position: absolute;
			bottom: -100px;
			right: -100px;
			height: 600px;
			width: 800px;
			z-index: 3;
			background: url(../../img/quizzo_success.gif) no-repeat;
		}
	}
}
