.quizzo {
	background: #fff;
	position: fixed;
	top: 0; left: 0; bottom: 0; right: 0;
	height: 100vh;
	padding: 40px 40px 40px 190px;

	h1 {
		font-size: 42px;
	}

	p {
		font-size: 18px;
		font-weight: 350;
	}

	& &_column {
		display: flex;
		justify-content: flex-start;
		gap: 25px;
	}

	& &_card {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 100px 0;
		width: calc(25% - 25px);
		border-radius: 20px;
		box-shadow: 0 10px 25px rgba(51, 51, 51, 0.1);
		flex-direction: column;

		h2 {
			font-size: 32px;
			margin-bottom: 0;
		}

		&_notes {
			width: calc(25% - 25px);
			padding: 0 40px;

			h2 {
				font-size: 24px;
			}

			ul {
				list-style-type: disc;
				font-size: 18px;
				margin-left: 1em;

				li {
					margin-bottom: 1em;
				}
			}
		}
	}

	&_admin_question {
		padding: 10px;
		border-radius: 0px;
		transition: all 0.6s;
		margin: 0;
		padding-top: 7.5px;
		cursor: pointer;

		&:hover {
			background: #EFEFEF;
		}

		a {
			text-decoration: none;

			h2 {
				color: #2271b1;
				margin-top: -15px;
			}

			ol li {
				color: #000;
			}
		}
	}

	&_select,
	&_textfield {
		width: 100%;
		margin-top: 5px;
	}

	@media only screen and (max-width: 959px) {
		padding: 40px 40px 40px 70px;
	}
}
