.quizzo {
	&_shortcode {
		display: flex;
		justify-content: center;
		align-items: center;
		position: fixed;
		top: 0; right: 0; bottom: 0; left: 0;
		width: 100%;
		max-width: 100%;
		padding: 0;
		margin: 0;
		font-family: 'Quizzo', Arial;
		font-size: 20px;
		z-index: 5000;
		letter-spacing: 0;
		height: 100vh;

		#question {
			position: relative;
		}

		#overlay {
			position: absolute;
			top: 0; left: 0; right: 0; bottom: 0;
			display: none;
		}

		#user {
			font-size: 24px;
			font-weight:400;
			color:#000;
			line-height: 42px;
			position: relative;
			z-index: 10;
			margin-bottom: 20px;

			p {
				margin-bottom: 0;
			}
		}

		#timer {
			position: fixed;
			top: 100px; right: 100px;
			z-index: 10;
			background: red;
			width: 100px;
			height: 100px;
			border-radius: 100px;
			display: flex;
			justify-content: center;
			align-items: center;
			color: #fff;
			margin: 0 auto;
			font-size: 24px;
			transition: all 0.6s;

			@media only screen and (max-width: 986px) {
				position: fixed;
				top: 25px; right: 25px;
			}
		}

		#status {
			position: relative;
			z-index: 10;
			padding: 1em 2em;
			background-color: rgb(51, 153, 69);
			color: #fff;
			font-size: 24px;
			text-align: center;
			margin-bottom: 0px;
			border-radius: 25px;
			font-weight: 700;
			display: none;
			/*transition: all 0.3s;*/

			& > span:first-child {
				font-size: 60px;
				margin-right: 1.5em;
				color: yellow;
				position: absolute;
				top: 15px; right: 0;
			    &.dashicons-no-alt {
				  color: #9f241c;
				}

				@media only screen and (max-width: 986px) {
					position: absolute;
					top: 28px; right: 0;
					font-size: 30px;
				}
			}

			& > span:first-child + span {
				margin-right: 2em;
				color: yellow;
			}
		}

		.question_content {
			text-align: left;
			color: rebeccapurple;
			width: 100%;
			margin: 0 auto 25px auto;
			z-index: 10;
			position: relative;
			font-size: 24px;
			font-weight: 400;
			font-family: 'Quizzo', Arial;

		    .counter {
			  padding-right: 10px;
			  padding-bottom: 10px;
			  font-weight: bold;
			}
		}

		ol {
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
			list-style-type: none;
			margin: 0 0 20px 0;
		    padding: 0;
		}

		ol > li {
			width: calc(50% - 25px);
			margin-bottom: 20px;
			position: relative;

			@media only screen and (max-width: 986px) {
				width: 100%;
				margin-bottom: 15px;
			}
		}

		ol > li > input[type="radio"] {
			appearance: none;
			border-radius: 100px;
			position: absolute;
			left: 0; right: 0;
			top: 0; bottom: 0;
			cursor: pointer;
			transition: all 0.6s;
			outline: none;
			height: 100%; width: 100%;
			border: none;
			background: transparent;

			:before, :after {
				appearance: none;
				display: none;
			}
		}

		ol > li > p {
			padding: 1em 2em;
			transition: all 0.2s;
			text-align: left;
			font-weight: 400;
			border-radius: 25px;
			color: #036;
			line-height: 1.6;
			cursor: pointer;
			background: #DEF;
			display: block;
			margin: 0;
			font-family: 'Quizzo', Arial;

			span {
				float: left;
			    font-weight: bold;
			    padding-right: 10px
			}
		}

		ol > li:has(input[type="radio"]:checked) p {
			color: #fff;
			background: rebeccapurple;
		}

		a, button {
			background: rebeccapurple;
			padding: 25px 60px;
			border: none;
			border-radius: 25px;
			font-family: inherit;
			font-weight: 400;
			font-size: 20px;
			color: #fff;
			cursor: pointer;
			margin: 20px auto 0;
			display: inline-block;
			text-decoration: none;
			position: relative;
			z-index: 10;
			text-transform: capitalize;

			&:hover {
				background: rebeccapurple;
			}
		}

		& > div:first-child {
			width: 80vw;
			position: relative;
			z-index: 1000;
			text-align: center;

			@media only screen and (max-width: 986px) {
				width: calc(100vw - 50px);
				padding: 25px;
			}

			&:before {
				content: '';
				display: block;
				height: 100vh;
				width: 100vw;
				background: rgba(255, 255, 255, 1);
				position: fixed;
				top: 0; left: 0; right: 0; bottom: 0;
				z-index: 0;
			}
		}

		#illustration {
			position: absolute;
			bottom: -100px;
			right: -100px;
			height: 600px;
			width: 800px;
			z-index: 3;
			background: url(../../img/quizzo_success.gif) no-repeat;
		}

		@media only screen and (max-width: 986px) {
			height: auto;
			overflow-y: scroll;
			padding: 2em 0;
			display: block;
		}
	}
}
