.quizzo {
	background: #fff !important;
	position: fixed;
	top: 0; left: 0; bottom: 0; right: 0;
	height: 100vh;
	padding: 40px 40px 40px 190px;
	font-family: 'Inter', Arial;
	letter-spacing: -0.5px;

	p, ul li {
		margin-top: 0;
		font-size: 16px;
	}

	header {
		h1 {
			font-size: 36px;
			color: rebeccapurple;
		}

		p {
			margin-bottom: 0.5em;
		}

		span {
			display: inline-block;
			margin-right: 10px;
		}
	}

	main {
		h2 {
			font-size: 22px;
			margin-bottom: 20px;
			margin-top: 35px;
			color: rebeccapurple;
		}

		> p {
			width: 75%;

			@media only screen and (max-width: 959px) {
				width: 100%;
			}
		}

		ul {
			list-style-type: disc;
			margin-left: 15px;
			width: 50%;
		}

		ul li {
			margin-bottom: 25px;
			line-height: 1.4;
		}
	}

	.columns {
		display: flex;
		justify-content: flex-start;
		flex-wrap: wrap;

		> div {
			width: calc(25% - 4em);
			text-align: center;
			padding: 2.5em 2em 0 2em;

			h3 {
				margin-top: 50px;
				margin-bottom: 0.75em;
				font-size: 12px;
				font-weight: 500;
				color: rebeccapurple;
				text-transform: uppercase;
				letter-spacing: 0;

				+ p {
					line-height: 1.7;
				}
			}

			span {
				font-size: 48px;
				margin-left: -20px;
				color: rebeccapurple;
			}

			@media only screen and (max-width: 959px) {
				width: calc(50% - 4em);
			}

			@media only screen and (max-width: 782px) {
				width: calc(100% - 4em);
			}
		}
	}

	&_admin_question {
		padding: 10px;
		border-radius: 0px;
		transition: all 0.6s;
		margin: 0;
		padding-top: 7.5px;
		cursor: pointer;

		&:hover {
			background: #EFEFEF;
		}

		a {
			text-decoration: none;
			display: block;

			h2 {
				color: #2271b1;
				margin-top: -15px;
			}

			ol li {
				color: #000;
			}
		}
	}

	#get-started {
		margin-top: 60px;

		a {
			border-radius: 100px;
			background: rebeccapurple;
			text-decoration: none;
			padding: 1em 3em;
			color: #FFF;
		}

		@media only screen and (max-width: 782px) {
			text-align: center;
			margin-top: 30px;
		}
	}

	@media only screen and (max-width: 959px) {
		padding: 40px 40px 40px 70px;
		overflow-y: scroll;
		height: auto;
	}

	@media only screen and (max-width: 782px) {
		padding: 70px 20px;
	}
}

a.page-title-action[href$=question] {
	display: none;
}
