@font-face {
  font-family: 'Product Sans';
  src: url('ProductSans-Regular.eot');
  src: url('ProductSans-Regular.eot?#iefix') format('embedded-opentype'),
       url('ProductSans-Regular.svg#ProductSans-Regular') format('svg'),
       url('ProductSans-Regular.ttf') format('truetype'),
       url('ProductSans-Regular.woff') format('woff'),
       url('ProductSans-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Product Sans';
  src: url('ProductSans-Bold.eot');
  src: url('ProductSans-Bold.eot?#iefix') format('embedded-opentype'),
       url('ProductSans-Bold.svg#ProductSans-Bold') format('svg'),
       url('ProductSans-Bold.ttf') format('truetype'),
       url('ProductSans-Bold.woff') format('woff'),
       url('ProductSans-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}
